<section class='tab spacecraftweapons scrollable {{tab.cssClass}}' data-group='primary' data-tab='spacecraftweapons'>
	<div class='grid-spacecraft-weapon-body'>
		<label class='resource-label scwCol1'>{{localize 'ALIENRPG.Cost'}}</label>
		<input type='text' class='cashboxsize currency scwCol2' name='system.attributes.cost.value' value='{{system.attributes.cost.value}}' />

		<!-- </div> -->
		{{#if (eq system.header.type.value '1')}}
		<label class='resource-label scwCol3'>{{localize 'ALIENRPG.Damage'}}</label>
		<input type='text' class='maxboxsize scwCol4' name='system.attributes.damage.value' value='{{system.attributes.damage.value}}' data-dtype='Number' />

		<label class='resource-label scwCol5'>{{localize 'ALIENRPG.Bonus'}}</label>
		<input type='text' class='maxboxsize scwCol6' name='system.attributes.bonus.value' value='{{system.attributes.bonus.value}}' data-dtype='Number' />

		<label class='scwCol7 resource-label'>{{localize 'ALIENRPG.Range'}}</label>
		{{#if isEvolved}}
		<select class='select-css scwCol8' name='system.attributes.range.value' data-dtype='{{system.attributes.range.value}}'>
			{{selectOptions config.evolved_ship_weapon_range_list selected=system.attributes.range.value labelAttr='label' localize=true}}
		</select>
		{{else}}
		<select class='select-css scwCol8' name='system.attributes.range.value' data-dtype='{{system.attributes.range.value}}'>
			{{selectOptions config.ship_weapon_range_list selected=system.attributes.range.value labelAttr='label' localize=true}}
		</select>
		{{/if}}
		<label class='resource-label scwCol9'>{{localize 'ALIENRPG.hardpoint'}}</label>
		<select class='select-css scwCol10' name='system.attributes.hardpoint.value' data-dtype='{{system.attributes.hardpoint.value}}'>
			{{selectOptions config.ship_hardpoint_list selected=system.attributes.hardpoint.value nameAttr='key' labelAttr='label' localize=true}}
		</select>

		<label class='resource-label scwCol11'>{{localize 'ALIENRPG.QuantityLabel'}}</label>
		<input type='text' class='maxboxsize scwCol12' style='margin-top: 5px' name='system.attributes.quantity.value' value='{{system.attributes.quantity.value}}' data-dtype='Number' />
		{{/if}}



		{{#if (eq system.header.type.value '2')}}

		<label class='resource-label scwCol9'>{{localize 'ALIENRPG.hardpoint'}}</label>
		<select class='select-css scwCol10' name='system.attributes.hardpoint.value' data-dtype='{{system.attributes.hardpoint.value}}'>
			{{selectOptions config.ship_hardpoint_list selected=system.attributes.hardpoint.value nameAttr='key' labelAttr='label' localize=true}}
		</select>

		<label class='resource-label scwCol3'>{{localize 'ALIENRPG.QuantityLabel'}}</label>
		<input type='text' class='maxboxsize scwCol4' style='margin-top: 5px' name='system.attributes.quantity.value' value='{{system.attributes.quantity.value}}' data-dtype='Number' />
		<label class='resource-label scwCol5'>{{localize 'ALIENRPG.Bonus'}}</label>
		<input type='text' class='maxboxsize scwCol6' name='system.attributes.bonus.value' value='{{system.attributes.bonus.value}}' data-dtype='Number' />
		{{/if}}
	</div>
	<h2 class='resource-label'>{{localize 'ALIENRPG.Comment'}}</h2>
	<div style='border: solid 1px; padding: 5px;width: 629px;'>
		{{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
		{{#if editable}}
		<prose-mirror style='height: 200px;' name='system.attributes.comment.value' data-document-uuid='{{item.uuid}}' value='{{system.attributes.comment.value}}' collaborate='true' toggled='true'>
			{{{enrichedComment}}}
		</prose-mirror>
		{{else}}
		{{{enrichedComment}}}
		{{/if}}
	</div>
</section>